<ion-header>
    <ion-toolbar color="tertiary">
      <ion-title text-center>
        Hiragana Master
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <div id="content">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-button id="but1" color="tertiary" routerLink="/home/tabs/basic/study" expand="block">
            <ion-text color="light">
              Study
            </ion-text>
          </ion-button>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-button id="but2" color="light" routerLink="/home/tabs/basic/review" expand="block">
            <ion-text color="tertiary">
              Review
            </ion-text>
          </ion-button>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-button id="but3" color="tertiary" routerLink="/home/tabs/basic/quiz" expand="block">
            <ion-text color="light">
              Quiz
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- <ion-tabs>
      <ion-tab-bar slot="bottom" color="tertiary">
        <ion-tab-button tab="basic">
          <ion-label color="light">Basic</ion-label>
          <ion-icon name="book" color="light"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="advanced">
          <ion-label color="light">Advanced</ion-label>
          <ion-icon name="school" color="light"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs> -->
</ion-content>