<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/advanced/study"></ion-back-button>
    </ion-buttons>
    <ion-title>
        Study 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item text-center class="ion-margin-top" lines="full">
    <ion-label color="light">
      <h1>
        Advanced Hiragana Chart
      </h1>
    </ion-label>
  </ion-item>
  <div id="content">
    <ion-card color="light">
      <ion-card-content>
        <img src="../../assets/hiragana-chart(advanced).png" alt="hiragana-chart">
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>