#content {
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

  ion-card{
    display: flex;
    height: 20rem;
    justify-content:center;
    align-items: center;
  }

  img{
    height: 16rem;
  }

  @media(min-width:780px){
    ion-toolbar{
      height: 5.5rem;
      display: flex;
    }
    ion-title{
      font-size: 2rem;
      justify-self: center;
      align-self: center;
    }
    ion-card{
      height: 65vh
    }
    #content {
      top: 62%;
    }
    img{
      height: 50vh
    }

    h1{
      font-size: 2.4rem;
    }
    ion-back-button{
      font-size: 1.8rem;
    }
    
    
  }
  @media(min-width: 650px) and (max-width:770px) {
    ion-toolbar{
      height: 4.8rem;
      display: flex;
    }
    ion-title{
      font-size: 2rem;
      justify-self: center;
      align-self: center;
    }
    #content {
      top: 63%;
    }
    h1{
      font-size: 2rem;
    }
    ion-back-button{
      font-size: 1.8rem;
    }
    ion-card{
      height: 60vh
    }
    img{
      height: 45vh
    }
    
  }