<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]='["/home/tabs/basic"]'></ion-back-button>
    </ion-buttons>
    <ion-title>
      Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full" text-center class="ion-margin-top">
    <ion-label color="light">
      <h1 id="title">Basic Quiz</h1>
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-top ion-margin-bottom">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="../../assets/a-purple-character.png">
          </ion-avatar>
          <ion-button class="but" color="light" routerLink="/home/tabs/basic/quiz/a">
            <ion-text color="tertiary">
              aーo
            </ion-text>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="../../assets/ka-character.png">
          </ion-avatar>
          <ion-button class="but" color="tertiary" routerLink="/home/tabs/basic/quiz/ka">
            <ion-text color="light">
              kaーko
            </ion-text>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="../../assets/sa-character.png">
          </ion-avatar>
          <ion-button class="but" color="light" routerLink="/home/tabs/basic/quiz/sa" expand="block">
            <ion-text color="tertiary">
              saーso
            </ion-text>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="../../assets/ta-character.png">
          </ion-avatar>
          <ion-button class="but" color="tertiary" routerLink="/home/tabs/basic/quiz/ta" expand="block">
            <ion-text color="light">
              taーto
            </ion-text>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="../../assets/na-character.png">
          </ion-avatar>
          <ion-button class="but" color="light" routerLink="/home/tabs/basic/quiz/na" expand="block">
            <ion-text color="tertiary">
              naーno
            </ion-text>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="../../assets/ha-character.png">
          </ion-avatar>
          <ion-button class="but" color="tertiary" routerLink="/home/tabs/basic/quiz/ha" expand="block">
            <ion-text color="light">
              haーho
            </ion-text>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="../../assets/ma-character.png">
          </ion-avatar>
          <ion-button class="but" color="light" routerLink="/home/tabs/basic/quiz/ma" expand="block">
            <ion-text color="tertiary">
              maーmo
            </ion-text>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
        <ion-item text-center lines="none">
          <ion-avatar slot="start">
            <img src="../../assets/ya-character.png">
          </ion-avatar>
          <ion-button class="but" color="tertiary" routerLink="/home/tabs/basic/quiz/ya">
            <ion-text color="light">
              yaーyo
            </ion-text>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
        <ion-item text-center lines="none">
          <ion-avatar slot="start">
            <img src="../../assets/ra-characters.png">
          </ion-avatar>
          <ion-button class="but" color="light" routerLink="/home/tabs/basic/quiz/ra">
            <ion-text color="tertiary">
              raーro
            </ion-text>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="../../assets/wa-white-characters.png">
          </ion-avatar>
          <ion-button class="but" color="tertiary" routerLink="/home/tabs/basic/quiz/wa" expand="block">
            <ion-text color="light">
              waーn
            </ion-text>
          </ion-button>
        </ion-item>
      </ion-col>
      <!-- <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-top" text-center>
            <ion-button id="but1" color="tertiary" routerLink="/home/tabs/basic/hiragana" fill="outline">
              <ion-text color="light">
                Hiragana Chart
              </ion-text>
            </ion-button>
          </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>