ion-card{
    top: 50%;
    left: 47.5%;
    cursor: pointer;
    width: 350px;
    height: 350px;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ion-button{
    width: 7.9rem;
    height: 1.5rem;
    margin-top: 1.2rem;
}

#title{
    margin-top: 1rem;
}

@media (min-width: 780px) {
    ion-card {
      top: 41%;
      left: 49%;
      width: 62vw;
      height: 48vh;
    }
    ion-button{
        width: 15rem;
        height: 3.2rem;
    }

    ion-label small{
        font-size: 2.3rem;
    }

    ion-button p{
        font-size: 2.1rem;
    }

    ion-label h1{
        font-size: 2rem;
    }
    div h1{
        font-size: 2.4rem;
    }
    ion-badge{
        margin-right: 1.6rem;
        font-size: 2.1rem;
    }
    ion-toolbar{
      height: 5.5rem;
      display: flex;
    }
    ion-title{
      font-size: 2rem;
      justify-self: center;
      align-self: center;
    }
    ion-icon {
      font-size: 4.9rem;
    }
    ion-back-button {
      font-size: 1.8rem;
    }
    ion-label h1{
      font-size: 3rem;
    }
  }
  
  @media (min-width: 650px) and (max-width: 770px) {
    ion-card {
      top: 40%;
      left: 48.5%;
      width: 60vw;
      height: 45vh;
    }
    ion-toolbar{
      height: 4.8rem;
      display: flex;
    }
    ion-title{
      font-size: 2rem;
      justify-self: center;
      align-self: center;
    }
    ion-label h1{
      font-size: 2rem;
    }
    ion-back-button {
      font-size: 1.8rem;
    }

    ion-button{
        width: 15rem;
        height: 3.2rem;
    }

    ion-label small{
        font-size: 2rem;
    }

    ion-button p{
        font-size: 2rem;
    }

    ion-label h1{
        font-size: 1.8rem;
    }
    div h1{
        font-size: 2rem;
    }
    ion-badge{
        margin-right: 1rem;
        font-size: 2rem;
    }
  }
  