.item{
    width: 100vw;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

ion-button{
    margin-left: 13.5%;
    width: 9.5rem;

}

#title{
    font-size: 1.4rem;
}

@media(max-width: 325px){
    ion-button{
        margin-left: 9.5%;
        width: 6.5rem;
    }
}

@media(min-width:780px){
  ion-toolbar{
    height: 5.5rem;
    display: flex;
  }
  ion-title{
    font-size: 2rem;
    justify-self: center;
    align-self: center;
  }
    ion-back-button{
      font-size: 1.8rem;
    }
    ion-avatar{
      display: none;
    }
    ion-text{
      font-size: 1.9rem;
    }
    ion-button{
      width: 50vw;
      height: 4.8vh;
      margin-left: 3.6rem;
      margin-top: .8rem;
    }
    ion-fab-button{
      height: 7rem;
      width: 7rem;
      margin-right: 1.5rem;
      margin-bottom: 1.7rem;
    }
    ion-icon{
      font-size: 5rem;
    }
    #title{
      font-size: 3.5rem;
    }
    
  }
  @media(min-width: 650px) and (max-width:770px) {
    ion-toolbar{
      height: 4.8rem;
      display: flex;
    }
    ion-title{
      font-size: 2rem;
      justify-self: center;
      align-self: center;
    }
    #title{
      font-size: 2.5rem;
    }
    ion-fab-button{
      height: 6rem;
      width: 6rem;
      margin-right: 1.5rem;
      margin-bottom: 1.7rem;
    }
    ion-icon{
      font-size: 4rem;
    }
    ion-text{
      font-size: 1.7rem;
    }
    ion-avatar{
      display: none;
    }
    ion-button{
      width: 50vw;
      height: 4.7vh;
      margin-left: 1.8rem;
      margin-top: .8rem;

    }
    ion-back-button{
      font-size: 1.8rem;
    }
    
  }
  