<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title text-center>
      Advance Home Menu
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="content">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-button id="but1" color="tertiary" routerLink="/home/tabs/advanced/study" expand="block">
            <ion-text color="light">
              Study
            </ion-text>
          </ion-button>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-button id="but2" color="light" routerLink="/home/tabs/advanced/review" expand="block">
            <ion-text color="tertiary">
              Review
            </ion-text>
          </ion-button>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-button id="but3" color="tertiary" routerLink="/home/tabs/advanced/quiz" expand="block">
            <ion-text color="light">
              Quiz
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>