<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home/tabs/advanced"></ion-back-button>
      </ion-buttons>
      <ion-title>
         Study
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item lines="full" text-center class="ion-margin-top">
      <ion-label color="light">
        <h1 id="title">Advanced Hiragana</h1>
      </ion-label>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-top ion-margin-bottom">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/ga.png">
            </ion-avatar>
            <ion-button class="but" color="light" [routerLink]='["/home/tabs/advanced/ga"]'>
              <ion-text color="tertiary">
                gaーgo
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/za.png">
            </ion-avatar>
            <ion-button class="but" color="tertiary" routerLink="/home/tabs/advanced/za">
              <ion-text color="light">
                zaーzo
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/da.png">
            </ion-avatar>
            <ion-button class="but" color="light" routerLink="/home/tabs/advanced/da" expand="block">
              <ion-text color="tertiary">
                daーdo
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/ba.png">
            </ion-avatar>
            <ion-button class="but" color="tertiary" routerLink="/home/tabs/advanced/ba" expand="block">
              <ion-text color="light">
                baーbo
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/pa.png">
            </ion-avatar>
            <ion-button class="but" color="light" routerLink="/home/tabs/advanced/pa" expand="block">
              <ion-text color="tertiary">
                paーpo
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/kya.png">
            </ion-avatar>
            <ion-button class="but" color="tertiary" routerLink="/home/tabs/advanced/kya" expand="block">
              <ion-text color="light">
                kyaーkyo
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/gya.png">
            </ion-avatar>
            <ion-button class="but" color="light" routerLink="/home/tabs/advanced/gya" expand="block">
              <ion-text color="tertiary">
                gyaーgyo
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item text-center lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/sha.png">
            </ion-avatar>
            <ion-button class="but" color="tertiary" routerLink="/home/tabs/advanced/sha">
              <ion-text color="light">
                shaーsho
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item text-center lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/ja.png">
            </ion-avatar>
            <ion-button class="but" color="light" routerLink="/home/tabs/advanced/ja">
              <ion-text color="tertiary">
                jaーjo
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/cha.png">
            </ion-avatar>
            <ion-button class="but" color="tertiary" routerLink="/home/tabs/advanced/cha" expand="block">
              <ion-text color="light">
                chaーcho
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/nya.png">
            </ion-avatar>
            <ion-button class="but" color="light" routerLink="/home/tabs/advanced/nya" expand="block">
              <ion-text color="tertiary">
                nyaーnyo
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/hya.png">
            </ion-avatar>
            <ion-button class="but" color="tertiary" routerLink="/home/tabs/advanced/hya" expand="block">
              <ion-text color="light">
                hyaーhyo
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/bya.png">
            </ion-avatar>
            <ion-button class="but" color="light" routerLink="/home/tabs/advanced/bya" expand="block">
              <ion-text color="tertiary">
                byaーbyo
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/pya.png">
            </ion-avatar>
            <ion-button class="but" color="tertiary" routerLink="/home/tabs/advanced/pya" expand="block">
              <ion-text color="light">
                pyaーpyo
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/mya.png">
            </ion-avatar>
            <ion-button class="but" color="light" routerLink="/home/tabs/advanced/mya" expand="block">
              <ion-text color="tertiary">
                myaーmyo
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-sm="8" offset-sm="2" class="ion-margin-bottom">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../assets/rya.png">
            </ion-avatar>
            <ion-button class="but" color="tertiary" routerLink="/home/tabs/advanced/rya" expand="block">
              <ion-text color="light">
                ryaーryo
              </ion-text>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="tertiary" routerLink="/home/tabs/advanced/hiragana">
        <ion-icon color="light" name="paper"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>